<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522706235285-3d5l6s2fh46mpomg9rg0t5lcjddqsdu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522706235285-3d5l6s2fh46mpomg9rg0t5lcjddqsdu7</string>
	<key>API_KEY</key>
	<string>AIzaSyBaGZcMj_dz94QsHwm2eoTMaGU-tcMBLuU</string>
	<key>GCM_SENDER_ID</key>
	<string>522706235285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gofinances</string>
	<key>PROJECT_ID</key>
	<string>gofinances-b7160</string>
	<key>STORAGE_BUCKET</key>
	<string>gofinances-b7160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522706235285:ios:4556cb777ae5b2fc26909c</string>
</dict>
</plist>